/* CORE COLOR: #1CD3A2 */

body {
  background-color: #073529;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  margin: 24px auto;
  text-align: justify;
  width: 640px;
}

h1, h2, h3, h4 { 
  color: #C6F4E8;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h1 a {
  text-decoration: none;
}

h1 a:link, h1 a:visited {
  color: #8EEAD1;
}

h1 a:hover {
  color: #C6F4E8;
}


h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.6em;
}

nav#mainmenu {
  font-size: 0.8em;
  margin-bottom: 2em;
  text-align: center;
}

nav#mainmenu a {
  color: #8EEAD1;
  display: block;
}

nav#mainmenu a:hover {
  color: #000000;
}

nav#mainmenu li {
  display: inline-block;
  list-style: none;
  padding: 0;
}

table {
  border-collapse: collapse;
}

#dumppanel {
  color: #666666;
  font-size: 0.8em;
  font-family: monospace;
  margin: 3em 0;
}

.justr {
  text-align: right;
}

.linkbutton {
  background-color: #0e6a51;
  border: 1px solid #1CD3A2;
  padding: 0.3em 0.6em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

a.linkbutton { 
  text-decoration: none;
}

a.linkbutton:hover {
  background-color: #C6F4E8;
  color: #000000;
}

.highlight {
  background-color: #159E7A;
  border: 1px solid #8EEAD1;
  color: #C6F4E8;
  font-weight: bold;
  padding: 0.6em 2em 0.6em;
  text-align: center;
}

.rosterchart {
  margin: 2em auto;
}

.rosterchart td, .rosterchart th {
  font-size: 0.8em;
  padding: 0.3em 0.6em;
}

.rosterchart th {
  background-color: #0E6A51;
  color: #C6F4E8;
  text-align: left;
}

.rosterchart tr {
  border-bottom: 1px solid #0E6A51;
}

.rosterchart tr.blank {
  border-bottom: none;
}

.rosterchart tr.thead {
  border-top: 3px solid #55DEBA;
  border-bottom: 1px solid #159E7A;
  font-size: 0.8em;
}

.rounded {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.sitemeta {
  color: #999999;
  font-size: 0.8em;
  margin-top: 2em;
  padding: 1.5em auto;
  text-align: center;
}
