<nav id="mainmenu">
  <ul>
    <li><a href="#" class="linkbutton">create</a></li>
    <li><a href="#" class="linkbutton">rosters</a></li>
    <li><a href="#" class="linkbutton">schedule</a></li>
    <li><a href="#" class="linkbutton">standings</a></li>
    <li><a href="#" class="linkbutton">batterstat</a></li>
    <li><a href="#" class="linkbutton">pitcherstat</a></li>
    <li><a href="#" class="linkbutton">fielderstat</a></li>
    <li><a href="#" class="linkbutton">next</a></li>
  </ul>
</nav>
<div id="mainfield"></div>
<div id="dumppanel"></div>
<script type="text/coffeescript" src="/script/uba.coffee"></script>
<script type="text/coffeescript" src="/script/index.coffee"></script>
